<div class="cover-container">

  <div class="inner cover">

    <div class="dropdown-container">
      <div class="dropdown add-margin-bottom">
        <button class="btn btn-default btn-xlarge dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Event
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu right" aria-labelledby="dropdownMenu1">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>

    </div>

    <p class="lead">
        <a href="#" class="btn btn-xxlarge btn-default">Display Mode</a>
        <a href="#" class="btn btn-xxlarge btn-default">Sign-in Mode</a>
    </p>
  </div>

  <div class="mastfoot">
    <div class="inner">
      <p>
        <a href="#manage-events">manage events</a> &#124; <a href="#get_statistics">get statistics</a> &#124; <a href="#list_participants">list participants</a>
      </p>
    </div>
  </div>

</div>
